body {
    font-family: verdana;
    background-color: {{config.web_background}};
    font-size: 16px;
    margin: 0;
}

div.Select-menu-outer {
    /* Dropdown menu */
    background-color: {{config.web_background_dark}};
    color: {{config.web_text_color}};
}

.has-value.Select--single>.Select-control .Select-value .Select-value-label, .has-value.is-pseudo-focused.Select--single>.Select-control .Select-value .Select-value-label {
    color: {{config.web_text_color}};
}

h1, h2, h3, h4, h5, h6 {
    font-family: verdana;
    color: {{config.web_text_color}};
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

h4, h5, h6 {
    text-align: left;
}

p, span {
    color: {{config.web_text_color}};
    font-family: verdana;
    font-size: 16px;
}

a {
    color: {{config.web_highlight}};
    font-family: verdana;
    font-size: 20px;
}

input {
    color: rgba(0, 0, 0, 1);
    font-family: verdana;
    font-size: 20px;
}

a.button, input.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    color: {{config.web_button_text_color}};
    font-family: verdana;
    font-size: 16px;
    font-weight: bold;  

    background-color: {{config.web_highlight}};
    display: inline;
    text-decoration: none;
    padding: 0.2cm;

    border: 1px solid {{config.web_button_text_color}};
}

a.button.vis_toggle {
    padding: 0.1cm;
    font-size: 14px;
}

li.game {
    color: {{config.web_highlight}};
    list-style-type: none;
    width: 60%;
    margin: 0.5cm auto;
    padding: 0.25cm;
    text-align: center;
    border: 1px solid {{config.web_highlight}};
}

li.toc-item {
    color: {{config.web_highlight}};
    list-style-type: none;
}

form.settingsform {
    padding: 0.25cm;
}

div.settings {
    width: 80%;
    color: {{config.web_highlight}};
    padding: 0.25cm;
    margin: 0.25cm auto;
}

div.setting {
    padding: 0.1cm;
    margin: 0.1cm;

    align-self: flex-start;

    background-color: {{config.web_background}};

    display: flex;
    flex-direction: row;
}

span.settingname {
    align-self: flex-start;
    flex: 2 0 60%;
}

span.settinginput {
    align-self: flex-end;
    flex: 1 0 20%;
}

div.objectdetails {
    display: flex;
    flex-direction: row;
    font-size: 14px;
}

span.objectdetailskey {
    align-self: flex-start;
    text-align: right;
    min-width: 240px;
    margin-right: 10px;
    flex: 0 1 auto;
    font-size: 14px;
}

span.objectdetailsvalue {
    align-self: flex-end;
    flex: 0 1 auto;
    font-size: 14px;
}

div.ledgerbox {
    background-color: {{config.web_background}};
    width: 90%;
    margin: 0.1cm auto;
    padding: 0.1cm;
}

ul.event_list {
    list-style: none;
}

li.eventitem {
    color: {{config.web_text_color}};
    margin: auto;
}

div.eventdescription {
    padding: 0.01cm;
    display: flex;
    flex-direction: row;
}

span.dateblock {
    align-self: flex-start;
    text-align: right;
    margin-right: 10px;
    min-width: 240px;
    font-family: monospace;
    font-size: 14px;
    flex: 0 1 auto;
}

span.dateblock.war {
    min-width: 100px;
}

span.eventtext {
    align-self: flex-end;
    flex: 0 1 auto;
    font-size: 14px;
}

a.textlink {
    color: {{config.web_highlight}};
    font-size: 14px;
}

a.titlelink {
    color: {{config.web_highlight}};
}

.topcorner {
    position:absolute;
    top:0;
    right:0;
    margin-top: 1px;
    margin-right: 2px;
}
